
.container {
    background-color: green;
    width: 380px;
    margin: auto;
    padding: 11px;
    text-align: center;
    margin-top: 44px;
    color:white;
    
}
.inputTask{

    display: flex;
    justify-content: center;
    align-items: center;
}

.container input{
    width: 70%;
    padding: 9px;
    border: none;
    font-size: 22px;
    border-radius: 2px;
}

.container button{
    

    height: 43px;
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    margin-left: 6px;
    border-radius: 3px;
    cursor: pointer;

}
.taskData{
    display: flex;
    justify-content: space-between;
    margin-left: 14px;
}

.taskData p {
    font-size: 23px;
    margin-left: 8px;
}

.taskData #deleteIcon {
    position: relative;
    left: -9%;
    top: 28px;
    cursor: pointer;
    font-size: 21px;
    color: black;
    background-color: red;
    color: white;
    
}